<div class="custom-file">
    <input type="file" class="custom-file-input" id="customFile" lang="ru">
    <label class="custom-file-label form-control-lg" for="customFile" data-browse={{t "bookForm.choose"}}>{{if isFileChoosen fileName cover}}</label>
</div>
<div class="input-group-append">
    <button class="btn btn-outline-secondary custom-file-clear" type="button" onclick={{action "removeFile" cover}}>X</button>
</div>